Repository JoMartinezZhu/custom-ts-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

add filter warnings
  config/optimization.js
  config/plugins.js
  config/webpack.config.js
  package-lock.json
  package.json
  src/components/PageLoading/index.tsx
  src/index.tsx
  src/pages/Admin.tsx
  src/pages/Admin/index.tsx
  src/pages/Welcome/index.tsx
  src/pages/user/login/components/Login/LoginContext.tsx
  src/pages/user/login/components/Login/LoginItem.tsx
  src/pages/user/login/components/Login/LoginSubmit.tsx
  src/pages/user/login/components/Login/LoginTab.tsx
  src/pages/user/login/components/Login/index.module.less
  src/pages/user/login/components/Login/index.tsx
  src/pages/user/login/components/Login/map.tsx
  src/pages/user/login/index.tsx
  src/pages/user/login/style.module.less
  src/routes.tsx
Due: eslint --fix, prettier --write, stylelint --fix

delete no use code
  src/pages/Welcome/index.tsx
Due: eslint --fix, prettier --write

delete no use code
  config/rules/styleRules.js
  config/webpack.config.js
Due: none

init
  package-lock.json
  package.json
  src/layouts/SecurityLayout.tsx
  src/models/connect.d.ts
  src/models/user.ts
  src/pages/NoFoundPage.tsx
Due: eslint --fix, prettier --write

add mocker api
  config/webpack.config.js
  mocker/index.js
Due: none

add login & sync authority data
  config/env.js
  config/webpack.config.js
  mocker/index.js
  src/components/GlobalHeader/RightContent.tsx
  src/config/config.ts
  src/config/defaultSettings.ts
  src/index.tsx
  src/layouts/BasicLayout.tsx
  src/layouts/SecurityLayout.tsx
  src/layouts/UserLayout.module.less
  src/layouts/UserLayout.tsx
  src/models/connect.d.ts
  src/models/login.ts
  src/pages/user/login/AccountAndMobile.tsx
  src/pages/user/login/index.tsx
  src/pages/user/login/style.module.less
  src/routes.tsx
  src/services/login.ts
  src/typings.d.ts
  src/utils/authority.ts
  src/utils/history.ts
  src/utils/storage.js
  src/utils/utils.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.less)
  stylelint --fix: any of: src/**/*.less
