Repository JoMartinezZhu/custom-ts-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
    "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "src/**/*.scss": ["stylelint --fix", "prettier --write"]
}

config: commitlint.config
  commitlint.config.js
  package-lock.json
  package.json
Due: none

config: update lint files
  .npmrc
  .prettierignore
  .stylelintignore
  build/webpack.config.js
  commitlint.config.js
  commitlint.doc.png
  package-lock.json
  package.json
Due: none

improvement: add antd zh-cn
  src/index.tsx
  src/pages/Home/index.tsx
  src/routerMap.tsx
Due: eslint --fix, prettier --write

fix: delete nouse code
  src/pages/Home/index.tsx
Due: eslint --fix, prettier --write

style: fix lint & format
  config/config.ts
  config/defaultSettings.ts
  config/plugin.config.ts
  config/proxy.ts
  config/themePluginConfig.ts
  package-lock.json
  package.json
  src/components/Authorized/CheckPermissions.tsx
  src/components/Authorized/PromiseRender.tsx
  src/components/Authorized/Secured.tsx
  src/components/Authorized/renderAuthorize.ts
  src/components/GlobalHeader/AvatarDropdown.tsx
  src/components/GlobalHeader/NoticeIconView.tsx
  src/components/GlobalHeader/RightContent.tsx
  src/components/HeaderSearch/index.tsx
  src/components/NoticeIcon/NoticeList.tsx
  src/components/NoticeIcon/index.tsx
  src/layouts/BasicLayout.tsx
  src/layouts/SecurityLayout.tsx
  src/models/global.ts
  src/models/setting.ts
  src/models/user.ts
  src/services/login.ts
  src/services/user.ts
  src/store/count/types.d.ts
  src/utils/utils.test.ts
Due: eslint --fix, prettier --write

style: remove no use code
  config/config.ts
  config/plugin.config.ts
  config/proxy.ts
  src/utils/utils.ts
Due: eslint --fix, prettier --write

style: format less
  src/utils/utils.less
Due: none

fix: router
  src/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --write

perf: add dva
  package-lock.json
  package.json
  src/config/config.ts
  src/config/defaultSettings.ts
  src/config/proxy.ts
  src/config/themePluginConfig.ts
  src/index.tsx
  src/models/connect.d.ts
  src/models/login.ts
  src/models/setting.ts
  src/typings.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

update ing
  build/webpack.config.js
  src/components/Authorized/AuthorizedRoute.tsx
  src/components/GlobalHeader/AvatarDropdown.tsx
  src/index.tsx
  src/layouts/BasicLayout.tsx
  src/layouts/SecurityLayout.tsx
  src/layouts/UserLayout.tsx
  src/models/connect.d.ts
  src/models/global.ts
  src/pages/Authorized.tsx
  src/pages/NoFoundPage.tsx
  src/pages/user/login/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --write

update ing
  src/utils/renderRoutes.tsx
Due: eslint --fix, prettier --write

update ing
  .eslintrc.js
  src/pages/A.tsx
  src/pages/AA.tsx
  src/pages/AAA.tsx
  src/utils/renderer-react/index.ts
  src/utils/renderer-react/renderRoutes/renderRoutes.tsx
  src/utils/renderer-react/types.d.ts
Due: eslint --fix, prettier --write

can use less
  src/global.less
  src/global.scss
  src/global.scss.d.ts
  src/pages/A.tsx
  src/pages/AA.tsx
  src/pages/AAA.tsx
Due: eslint --fix, prettier --write, stylelint --fix

can use less
  src/pages/NoFoundPage.tsx
Due: eslint --fix, prettier --write

can use less
  build/rules/styleRules.js
  build/rules/tsRules.js
  build/tpl/index.ejs
  src/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --write

antd es css
  build/rules/styleRules.js
  src/layouts/UserLayout.tsx
  src/pages/Welcome/index.less
  src/pages/Welcome/index.tsx
  src/pages/user/login/index.tsx
  src/routes.tsx
Due: eslint --fix, prettier --write

antd es css
  src/pages/Welcome/index.module.less
Due: none

antd lib true
  build/rules/styleRules.js
  build/rules/tsRules.js
  src/pages/Welcome/index.tsx
Due: eslint --fix, prettier --write

antd lib true
  src/pages/Welcome/index.less
Due: none

delete index.module.less
  src/pages/Welcome/index.module.less
Due: none

...
  src/components/GlobalHeader/RightContent.tsx
  src/layouts/BasicLayout.tsx
  src/layouts/UserLayout.tsx
  src/routes.tsx
Due: eslint --fix, prettier --write

fix webpack antd less config
  build/rules/styleRules.js
Due: none

fix less modules
  build/rules/fileRules.js
  package-lock.json
  package.json
  src/global.less
  src/layouts/UserLayout.module.less
  src/layouts/UserLayout.tsx
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix less name is *.module.less
  src/components/GlobalHeader/AvatarDropdown.tsx
  src/components/GlobalHeader/NoticeIconView.tsx
  src/components/GlobalHeader/RightContent.tsx
  src/components/GlobalHeader/index.module.less
  src/components/HeaderDropdown/index.module.less
  src/components/HeaderDropdown/index.tsx
  src/components/HeaderSearch/index.module.less
  src/components/HeaderSearch/index.tsx
  src/components/NoticeIcon/NoticeList.module.less
  src/components/NoticeIcon/NoticeList.tsx
  src/components/NoticeIcon/index.module.less
  src/components/NoticeIcon/index.tsx
  src/pages/Welcome/index.module.less
  src/pages/Welcome/index.tsx
  src/pages/user/login/components/Login/LoginItem.tsx
  src/pages/user/login/components/Login/LoginSubmit.tsx
  src/pages/user/login/components/Login/index.module.less
  src/pages/user/login/components/Login/index.tsx
  src/pages/user/login/components/Login/map.tsx
Due: eslint --fix, prettier --write

update antd
  package-lock.json
  package.json
Due: none

fix rotuer
  package-lock.json
  src/routes.tsx
Due: eslint --fix, prettier --write

fix less *.module.less
  src/pages/user/login/index.tsx
  src/pages/user/login/style.module.less
Due: eslint --fix, prettier --write

config: 删除sass 相关包和配置
  .eslintignore
  .lintstagedrc
  .npmrc
  package-lock.json
  package.json
  src/typings.d.ts
Due: eslint --fix, prettier --write

style: 格式化spin.ejs
  build/tpl/spin.ejs
Due: none

config: renamed build floder to config
  config/loaders.js
  config/optimization.js
  config/plugins.js
  config/rules/fileRules.js
  config/rules/styleRules.js
  config/rules/tsRules.js
  config/tpl/index.ejs
  config/tpl/spin.ejs
  config/utils.js
  config/webpack.config.js
  package.json
Due: none

config: 配置环境变量，优化打包
  .gitignore
  .uploadrc
  bin.js
  config/constants.js
  config/dotenv/.env
  config/dotenv/.prod.env
  config/dotenv/.t1.env
  config/dotenv/.t2.env
  config/dotenv/.t3.env
  config/dotenv/staging.env
  config/env.js
  config/optimization.js
  config/paths.js
  config/plugins.js
  config/utils.js
  config/webpack.config.js
  package-lock.json
  package.json
  scripts/build.js
  scripts/start.js
Due: none

优化
  .prettierignore
  .stylelintrc.js
  config/paths.js
  config/plugins.js
  config/rules/styleRules.js
  config/webpack.config.js
  package-lock.json
  package.json
  src/components/PageLoading/index.tsx
  src/index.tsx
  src/models/login.ts
  src/utils/renderRoutes.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

fix: thread-loader 对less 文件无效
  bin.js
  config/optimization.js
  config/plugins.js
  config/rules/styleRules.js
  package-lock.json
  package.json
  src/pages/user/login/components/Login/LoginContext.tsx
  src/pages/user/login/components/Login/LoginItem.tsx
  src/pages/user/login/components/Login/LoginSubmit.tsx
  src/pages/user/login/components/Login/LoginTab.tsx
  src/pages/user/login/components/Login/index.module.less
  src/pages/user/login/components/Login/index.tsx
  src/pages/user/login/components/Login/map.tsx
  src/pages/user/login/index.tsx
  src/pages/user/login/style.module.less
  src/routes.tsx
Due: eslint --fix, prettier --write

splitchunks
  config/optimization.js
  config/plugins.js
  package-lock.json
  package.json
Due: none

preset-env runtime
  config/rules/tsRules.js
  package-lock.json
  package.json
Due: none

tree-shaking
  config/constants.js
  config/optimization.js
  config/plugins.js
  package.json
Due: none

less pack update
  config/plugins.js
  config/rules/styleRules.js
  package-lock.json
  package.json
Due: none

add transform-runtime && core-js
  config/rules/tsRules.js
  package-lock.json
  package.json
Due: none
